<section class="new-training mt-5" fxLayout="row" fxLayoutAlign="center">
  <form #f="ngForm" (ngSubmit)="onStartTraining(f)">
    <mat-card fxFlex="400px">
      <mat-card-header fxLayoutAlign="center">
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Time to start your routine!</mat-card-title>
      <mat-card-subtitle>Select your position</mat-card-subtitle>
      </mat-card-header>
        <mat-card-content fxLayoutAlign="center">
          <mat-form-field class="mt-2" *ngIf="!isLoading && exercises"  appearance="outline" >
            <mat-label>Exercise</mat-label>
            <mat-select ngModel name="pose" required>
            <mat-option *ngFor="let exercise of exercises" [value]="exercise.id">{{exercise.name}}</mat-option>
        </mat-select>
      </mat-form-field>
            <mat-spinner *ngIf="isLoading" color="accent"></mat-spinner>
    </mat-card-content>
    <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
      <button *ngIf="!exercises" type="button" mat-raised-button color="primary" (click)="fetchAgain()">Try Again</button>
      <button *ngIf="exercises" type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Start</button>
    </mat-card-actions>
    </mat-card>
  </form>
</section>
