<div class="welcome">
      <div id="jumbo" class="jumbotron jumbotron-fluid">
          <section>
            <h1 class="display-4 text-center">Activity</h1>
            <p class="lead text-center">Stay active, enjoy your health </p>
          </section>
          <section>
            <h1 class="display-4 text-center">Community</h1>
            <p class="lead text-center">Get to know people who share your passion </p>
          </section>
          <section>
            <h1 class="display-4 text-center">Challenge</h1>
            <p class="lead text-center">Never stop diving into new challenges!</p>
          </section>
    </div>
</div>
